@import "../utilities/variables";

button {
  padding: 13px 26px;
  border: none;
  background: $button-color-primary;
  border-radius: 5px;
  margin: 0px 5px;
  cursor: pointer;
}

button:focus {
  outline: none;
}
