@import "https://fonts.googleapis.com/css?family=Jost";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background: #f8b195;
  background: -moz-linear-gradient(180deg, #f8b195 50%, #f67280 60%, #c06c84 70%, #355c7d 80%, #6c5b7b 99%);
  background: -webkit-linear-gradient(180deg, #f8b195 50%, #f67280 60%, #c06c84 70%, #355c7d 80%, #6c5b7b 99%);
  background: linear-gradient(180deg, #f8b195 50%, #f67280 60%, #c06c84 70%, #355c7d 80%, #6c5b7b 99%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8b195",endColorstr="#6c5b7b",GradientType=1);
  margin: 0;
  display: relative;
  font-family: "Jost", sans-serif;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

button {
  padding: 13px 26px;
  border: none;
  border-radius: 5px;
  margin: 0px 5px;
  cursor: pointer;
}

.container {
  width: 100vw;
}

.timer-buttons {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.background-gradient {
  background: #f8b195;
  background: -moz-linear-gradient(180deg, #f8b195 50%, #f67280 60%, #c06c84 70%, #355c7d 80%, #6c5b7b 99%);
  background: -webkit-linear-gradient(180deg, #f8b195 50%, #f67280 60%, #c06c84 70%, #355c7d 80%, #6c5b7b 99%);
  background: linear-gradient(180deg, #f8b195 50%, #f67280 60%, #c06c84 70%, #355c7d 80%, #6c5b7b 99%);
}

.background-gradient-filter {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f8b195",endColorstr="#6c5b7b",GradientType=1);
}
